/* Color-Scheme */

* {

    transparent:                  #F5F5F5;
    active-background:            #1B0030;
    selected-normal-background:   #A9006A;
    urgent-background:            #110257;
    selected-active-background:   #66328A;

}
